
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@1,100;1,400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    font-family: Azeret Mono;
  }
 .Hero-bg-container{ 
    max-width: 1440px;
    margin: 0 auto;
    min-height:652px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("/assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
  }
  .Hero-bg-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
     height: 582px;
    align-items: center;
  }
  .Hero-bg-content h1 {
    color: rgb(13, 19, 33);
  }
  .Hero-bg-content p {
    color: rgb(13, 19, 33);
    margin: 24px 0px;
  }
  .Hero-bg-content p{
    font-size: 16px;
font-weight: 400;
  }
  .Hero-bg-content h1 {
    font-size: 48px;
    font-weight: 800;
  }
  .btn{
    border-radius: 8px;
background: rgb(13, 19, 33);

padding: 18px 30px;
margin: 0px 10px;}
.btn a{
text-decoration: none;
color: rgb(255, 255, 255);
}
  
  .web-all-container{
   
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
  }
  .web-dev{
    max-width: 1440px;
    margin: 0 auto;
    min-height:652px;
    margin-top: 20px;
    background-position: center;
   
    
  }
  .web-dev h2{
    margin: 24px 0;
  }
  .web-dev-conten{
    display: flex;
    flex-direction: column;
    justify-content: center;
     height: 582px;
    align-items: center;
  }
  .layer{
    display: flex;
    margin-left: 30px;
  }
  .layer h1{
    margin-bottom: 16px;
  }
  .layer p{
    margin-bottom: 16px;
  }
  .layer button{
    padding: 10px 20px ;
  }
  .layer img{
    margin-left: 80px;
  }
  .my-inspiration h1{
    margin-left: 500px;
  }
  .my-inspiration p{
    margin-left: 300px;
    margin-bottom: 10px;
  }
  .bd-youtube{
    border: 1px solid;
    margin: 50px 20px;
    border-radius: 10px;
  }
  .youtube{
    margin-left: 400px;
    padding: 50px 0;
  } 
  #html-css-js-container{
    display: flex;
    margin-top: 20px 0 0 10px ;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 30px;
  }
  .html{
    border-radius: 16px;
    background-color:rgba(255, 76, 30, 0.05); 
    
  }
  .html div,h1,p{
    margin-bottom: 20px;
  }
  .css{
   background-color:  rgba(0, 76, 232, 0.05);
   border-radius: 16px;}
   .css div,h1,p{
    margin-bottom: 20px;
  
  }
  .js{
    border-radius: 16px;
    background-color: rgba(255, 223, 0, 0.05);;
  }
  .js div,h1,p{
    margin-bottom: 20px;
  }
.RNB-All-
  .RNB-JS{
    border: 1px solid;
    margin: 10px;
    padding: 10px;
  
    border-radius: 10px;
  }
  .RNB-JS1{
    display: flex;
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
  }
  .RNB-JS1 img{
padding: 40px;
  
  }
  .RNB-JS2{
    display: flex;
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
  }
  .RNB-JS2 img{
    padding: 40px;}
  .RNB-JS3{
    display: flex;
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
  }
  .RNB-JS3 img{
    padding: 40px;}
.need-Suppor-container{
    background-image: url(/assets/handshake.jpg);
    padding: 30px;
    margin: 30px;
}
.need-Suppor-contex{
    display: flex;
    flex-direction: column;
    justify-content: center;
     height: 313px;
    align-items: center;

}
.need-Suppor-contex input{
    padding: 19px 20px 19px 25px;
}
.need-Suppor-contex button{
    padding: 19px 20px 19px 20px;
}
#footer{
    display: flex;
    margin: 30px;
}
.link{
    margin-left: 700px;
}